// Variables
// -------------------------

// Navbar
@navbar-height:                    80px;
@navbar-padding-horizontal:        60px;

// Nav
@nav-link-padding:    10px 30px;

// Container // TODO: make container bigger...somehow
@container-tablet:             ((720px + @grid-gutter-width));
@container-desktop:            ((940px + @grid-gutter-width));
@container-large-desktop:      ((1140px + @grid-gutter-width));

// Tabs
@img-width: 275px;
@img-height: 170px;

// Layout
// -------------------------

// Nav

nav {
  .navbar;
  .navbar-default;
  .navbar-static-top;
}

.extension-name {
  .navbar-brand;
}

.nav-menu {
  .menu {
    .nav;
    .navbar-nav;
    .pull-right;
  }

  padding-right: 30px;
}

// .title {
//   position: fixed;
//   top: 0;
//   left: 0;
//   display: block;
//   min-width: 400px;
//   .extension-name {
//     padding: 5px;
//   }
// }

// Container
.container {
  padding: 0 10px;
}

.lists {
  .list-unstyled;
  .list-inline;

  li {
    padding-right: 0;
  }
}

// List Header

.list-header {
  .make-row;
  .page-header;

  padding-left: 10px;
  padding-right: 10px;

  .list-title, .no-title {
    float: left;
    margin: auto 0;

    .list-date {
      // margin-left: 15px;
    }
  }

  .options {
    .list-unstyled;
    .list-inline;
    float: right;

    li {
      margin-left: 20px;
      margin-top: 6px;
    }

    li:last-child {
      padding-right: 0;
    }
  }
}

// Tabs

.tabs {
  .make-row;
  .center-block;

  list-style-type: none;
  margin: 0px;
  padding: 0;

  li {
    float: left;
    margin: 5px;
    position: relative;
    overflow: hidden;
    width: @img-width;
    min-height: @img-height;
    max-height: @img-height;

    .tab-img {
      width: @img-width;
      float: left;
      z-index: 4;
      -webkit-transition:all 0.25s ease-in-out;
      transition:all 0.25s ease-in-out;
    }

    .caption {
      cursor: pointer;
      position: absolute;

      .blur {
        height: @img-height;
        width: @img-width;
        z-index: 5;
        position: absolute;
      }

      .close-custom {
        .close;
        background: transparent;
        border: 0;
        padding: 0;
        -webkit-appearance: none;
        z-index: 10;
        // color: #fff;
        position: absolute;
        right: 5px;

        @close-font-weight:           400;
        @close-color:                 #eee;
        @close-text-shadow:           0px 2px 2px #000;
        .opacity(0);
      }

      .caption-text {
        z-index: 10;
        color: #fff;
        position: relative;
        width: 275px;
        height: 170px;
        padding-left: 10px;
        padding-bottom: 10px;
        // .opacity(.80);
        display: table-cell;
        vertical-align: bottom;

        .tab-title {
          line-height: 1.24em;

          .favicon {
            width: 16px;
            height: 16px;
            .pull-left;
            margin-top: 0;
            margin-right: 4px;
          }
        }

        .url {
          // margin-left: 20px;
        }
      }
    }
  }

  li:hover {
    .blur {
      opacity: .3;
      -webkit-transition:all 0.45s ease-in-out;
      transition:all 0.45s ease-in-out;
    }

    .close-custom {
      opacity: .75;
      -webkit-transition:all 0.30s ease-in-out;
      transition:all 0.30s ease-in-out;
    }
  }
}